h1 {
	font-size: 2em;
}

svg {
  height: 1em;
}

h1.flex.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

h2 {
  font-size: large;
}

canvas {
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.wrapper {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#form-profile .form-radio .form-check {
  margin-bottom: 1rem;
}

#form-profile .form-radio-label .form-check-label {
  font-weight: 400;
  transform: translateY(-2px);
}

#form-generate .form-radio .form-check {
  margin: 10px;
}

#alert-facebook {
  position: fixed;
  top: 20px;
  left: 20px;
  right: 20px;
}

#alert-print {
  margin: 1rem auto 0;
}

#date-selector-group {
  position: relative;
  overflow: hidden;
}

#date-selector-group-sortie {
    position: relative;
    overflow: hidden;
}

#date-selector {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  transform: translateX(-50%); /* center the input to avoid reset buttons */
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

#date-selector-sortie {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    transform: translateX(-50%); /* center the input to avoid reset buttons */
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}

input:invalid+span:after {
  content: '✖';
  padding-left: 0.3em;
}

input:valid+span:after {
  content: '✓';
  padding-left: 0.3em;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

::placeholder {
  font-style: italic;
}

.hidden {
  display: none !important;
}

.exemple {
  margin-bottom: 0;
  font-style: italic;
  color: #999999;
  height: 1em;
}

.covid-subtitle {
  display: inline-flex;
  align-items: center;
  font-size: 0.40em;
  padding: 0.3em;
  background-color: #e1000f;
  text-transform:uppercase ;
  color: #ffffff;
  flex-grow: 1;
}

.note-title {
  border-bottom: 3px solid #fff;
}

.highlighted {
  font-weight: bold;
  border-bottom: 2px solid;
}

.footnote-title {
  color: #fff;
  font-size: 0.9em;
}

.msg-info {
  text-align: left;
}

.msg-alert {
  text-align: left;
  color: red;
  font-style: italic;
}

.text-desc {
  font-style :italic;
  font-size: 0.8em;
}
.text-bold {
  font-weight: bold;
}

.btn-attestation {
  padding: 0.9em;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
  background-color: #000191;
  border-radius: 0.5em;
}

.btn-attestation:hover {
  background-color: #3031C1;
}

.btn-clear-data {
    margin: 30px auto;
    max-width: 400px;
}

.github {
  font-size: 0.7em;
  text-align: center;
}

.label-mi {
  text-align: center;
  font-size: 1em;
}

.validity {
  display: inline-flex;
  justify-content: center;
  width: 2em;
}

.main-footer {
  display: flex;
  justify-content: center;
  padding-top: 3em;
  padding-bottom: 3em;
  background: #222;
  color: white;
}

.footer-links {
  margin: 0 auto;
  max-width: 500px;
  background: #222;
}

.footer-line {
  display: block;
  margin: 0.75em;
  font-size: 0.9em;
  color: #ffffff;
}

.footer-link:hover {
  text-decoration: underline;
  color: #0a81ff;
}

.footer-link:focus {
  color: #ffffff;
}

.num-08 {
  font-weight: bold;
  color: #00a94f;
}

.num-08:hover {
    text-decoration: underline;
    color: #0A81FF;
}

.stores-link:hover {
    text-decoration: underline;
}

.titre-2 {
  text-align: left;
  font-size: 1.5rem;
  font-weight: bold;
}
.titre-3 {
  text-align: left;
  font-size: 1.25rem;
  font-weight: bold;
}
.titre-4 {
  text-align: left;
  font-size: 1rem;
  font-weight: bold;
}

@media (max-width: 800px){
  table thead {
    display: none;
  }

  table tr{
    display: block;
    margin-bottom: 40px;
  }

  table td {
    display: flex;
    text-align: left;
    min-height: 3rem;
  }

  table td:before {
    content: attr(data-label);
    font-weight: bold;
    color: #000191;
    width: 100px;
    margin-right: 8px;
    flex-shrink: 0;
  }
}

#snackbar, #snackbar-cleardata, #snackbar-generating {
  min-width: 250px;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
  transform: translateX(-50%);
  box-shadow: 0 0 8px 1px #fff;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

#snackbar-generating {
  bottom: 100px;
}

#snackbar.show, #snackbar-cleardata.show, , #snackbar-generating.show {
  opacity: 1;
}

@media only screen and (min-width:600px) {
    .hide-on-desktop, * [aria-labelledby='hide-on-desktop'] {
        display: none;
        max-height: 0;
        overflow: hidden;
    }
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

[id^="footnote"] {
  margin: 30px auto;
  max-width: 1000px;
  font-size: 0.8em;
}

#update-alert {
  position: fixed;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
}

.alert-info {
  color: #030494;
  background-color: #caf8ff;
  border-color: #caf8ff;
}

.basis-100 {
  flex-basis: 100%;
}

.btn-info {
  color: #fff;
  background-color: #030494;
  border-color: #030494;
}

.fieldset {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border: 3px solid transparent;
}

.legend {
  padding-left: 0.5em;
}

.fieldset-error {
  border: 3px solid red;
}

.sanitary-context ~ * {
  display: none
}

.sanitary-context ~ label {
  display: block
} 

.sanitary-context:checked ~ * {
  display: block;
}

#curfew-reason-fieldset {
  display: none;
  background: #DDF;
}
#curfew-reason-fieldset.targeted,
#quarantine-reason-fieldset.targeted  {
  display: block;
}
#quarantine-reason-fieldset {
  display: none;
  background: #FEE;
}

.curfew-button {
  display: block;
  width: 40%;
  text-decoration: none;
  background: #DDF !important;
  color: black !important;
}

.quarantine-button {
  display: block;
  width: 40%;
  text-decoration: none;
  background: #FEE !important;
  color: black !important;
}

#formgroup-storedata {
  clear: both;
  padding-top: 2rem !important;
}

.context-title {
  font-size: 1.2em;
  font-weight: bold;
}
.context-subtitle {
  font-size: 0.8rem;
}

.context-wrapper-error {
  border: 1px solid red;
  padding: 1%;
}

.context-wrapper-error .context-title {
  color: red;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
}

#curfew-reason-fieldset.in-quarantine {
  background: #FEE;
}

#curfew-reason-fieldset.targeted {
  display: block;
}

.fieldset-wrapper.fieldset-error {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.quarantine-subtitle,
.curfew-subtitle {
  padding: 1rem 0;
}

.fieldset-wrapper {
  color: black;
}